@import url('https://fonts.googleapis.com/css?family=Catamaran|Quicksand');

html{
    
    font-family:'Quicksand', sans-serif;
}
body {
    width:100%;
    margin:0;
    padding:0;
}

/* Header: logo and navigation bar */

#principal-nav {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1565c0;
    border-top: 1px solid #003c8f;
}

    #principal-nav li {
        float: left;
        text-align: center;
    }

#principal-nav li a{
    display:block;
    padding:14px 17px;
    color:white;
    text-decoration:none;
}

    #principal-nav li a:hover {
        background-color: #5e92f3;
        color: white;
    }

    .derecha{
        float:right;
    }

   /*Clear of floats*/
       
.clearfix{
    clear:both; 
}

   /* Contenido Principal*/

#Principal-Container footer{
    width:1080px;
    margin:0 auto;
    border-left:1px solid black;
    border-right:1px solid black;
    padding:20px 0 20px 0;
}

