<!DOCTYPE hmtl>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="../css/template.css" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/icons/favico.png"/>
    <title>FixMaths</title>
</head>
<body>

    <!--****** Logo and Principal Bar ******-->
    <header>

        <!--****** Logo ******-->
        <div id="logo">
            <a href="#PaginaPrincipal" title="FixMaths">
                <center>
                    <img class="logo-wrap" src="../images/logo.png">
                </center>
            </a>
        </div>

        <!--******* End of Logo ******-->
        <!--****** Principal Bar ******-->

        <nav id="principal-nav">
            <a href="asignaturas.html">Ramas</a>
            <a href="foro.html">Foro</a>
            <a href="#">Acerca De</a>
        <!-- Inicio de Sesion y Regsitro
            <a class="right-float" href="#">Iniciar Sesión</a>
            <a class="right-float" href="#">Registrate</a> -->
        </nav>

        <!--****** End of Principal Bar ******-->
    </header>

    <!--****** Principal Content ******-->

    <section id="content-principal-wrap">

        <div class="icon-wrap">
            <img src="../images/icons/icono_calculodif.png" width="100%"/>
        </div>

        <div class="signature-content">
        <h1 class="header-principal-title">CÁLCULO DIFERENCIAL</h1>

        <p class="font-content-body">Contenidos Disponibles de Cálculo Diferencial:</p>
        <ul class="font-list-signature font-content-body">
            <li><a href="relacion.html">Relación</a></li>
            <li><a href="funcion.html">Función</a></li>
            <li><a href="dominio.html">Dominio</a></li>
        </ul>
        </div>
    </section>

    <footer id="footer-signatures">
        <a href="#">Asignaturas</a>
        <a href="#">Foro</a>
        <a href="#">Acerca De</a>
        <a href="#">Inicia Sesión</a>
        <a href="#">Registrate</a>
    </footer>
</body>
</html>
