<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="../css/template.css" type="text/css">
    <title>FixMaths</title>
</head>
<body>
    <!--****** Logo and Principal Bar ******-->
    <header>

        <!--****** Logo ******-->
        <div id="logo">
                <center>
                    <a href="#PaginaPrincipal" title="FixMaths">
                        <img class="logo-wrap" src="../images/logo.png">
                    </a>
                </center>
        </div>

        <!--******* End of Logo ******-->
        <!--****** Principal Bar ******-->

        <nav id="principal-nav">
            <a href="asignaturas.html">Ramas</a>
            <a href="foro.html">Foro</a>
            <a href="acercade.html">Acerca De</a>
            <!-- INICIO DE SESION
            <a class="right-float" href="#">Iniciar Sesión</a>
            <a class="right-float" href="#">Registrate</a> -->
        </nav>

        <!--****** End of Principal Bar ******-->
    </header>

    <!--****** Principal Content ******-->

    <section id="content-principal-wrap">

        <h1 id="foro-header-principal-font">FOROS</h1>

        <center>
        <form id="search" method="get">
            <input  class="font-content-body search-field padding" type="search"  placeholder="Busca lo que quieras. Ejem '¿Qué es una función lineal?'" />
            <input  class="font-content-body search-button" type="submit" value="Search" />
        </form>
            </center>

        <div class="card">
            <a href="foro_calcdif.php">
                <img src="../images/icons/icono_calculodif.png" alt="Cálculo Diferencial" width="100%" />
            </a>

            <h2 class="title-icon"> Cálculo Diferencial</h2>

        </div>
    </section>



    <footer>
        <a href="asignaturas.html">Asignaturas</a>
        <a href="foro.html">Foro</a>
        <a href="acercade.html">Acerca De</a>
        <a href="#">Inicia Sesión</a>
        <a href="#">Registrate</a>
    </footer>
</body>
</html>