<!DOCTYPE hmtl>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="Stylesheet" href="../css/template.css" type="text/css">
        <link rel="shortcut icon" type="image/png" href="../images/icons/favico.png" />
        <title>FixMaths</title>
    </head>
    <body>

        <!--****** Logo and Principal Bar ******-->
        <header>

            <!--****** Logo ******-->
            <div id="logo">
                <a href="#PaginaPrincipal" title="FixMaths">
                    <center>
                    <img class="logo-wrap" src="../images/logo.png">
                    </center>
                </a>
            </div>

            <!--******* End of Logo ******-->

            <!--****** Principal Bar ******-->

            <nav id="principal-nav">
                <a href="asignaturas.html">Ramas</a>
                <a href="foro.html">Foro</a>
                <a href="#">Acerca De</a>
            <!--
                <a class="right-float" href="#">Iniciar Sesión</a>
                <a class="right-float" href="#">Registrate</a> -->
            </nav>

            <!--****** End of Principal Bar ******-->
        </header>

        <!--****** Principal Content ******-->

        <section id="content-principal-wrap">

            <!--********** SideBar Index ***********-->

                <div id="content-left-wrap">
                        <h1 class="header-text-index">Indice de Contenidos</h1>
                        <ul class="font-content-body">
                            <li><a href="#definicion">Definición</a></li>
                            <li><a href="#example">Ejemplo</a></li>
                            <li><a href="#exercices">Ejercicios</a></li>
                        </ul>

                        <h1 class="header-text-index">Conocimientos Previos Necesarios:</h1>
                        <ul class="font-content-body">
                            <li><a href="relacion.html">Relación</a></li>
                        </ul>
                    </div>

            <!-- ********** End of SideBar ********* -->

            <!-- ********** Principal Content ***********-->

                    <div id="content-center-wrap">

                        <h1 class="header-principal-title"><a name="definicion">FUNCIÓN</a></h1>
                        <p class="font-content-body">El concepto de funciones es uno de los más importantes dentro del mundo de las matemáticas, se utilizan como modelos matemáticos para resolver problemas de la vida real y no solo como representaciones de fórmulas o lugares geométricos.
                            <br />
                            Decimos que una función (f) es una regla de correspondencia, que asigna a cada elemento del conjunto A exactamente un elemento de un conjunto B.
                        </p>

                        <img src="../images/temaFuncion/ejemimg1.png" class="center-img" width="75%">

                        <p class="font-content-body">El conjunto A pertenece al dominio de f(x1) hasta f(x4), y el rango de f son todos los valores validos del conjunto B.
                        <br />
                            Para representar las funciones gráficamente es necesario hacer uso de conjuntos de pares ordenados y graficarlos en un plano cartesiano (x y).
                        </p>

                        <img src="../images/temaFuncion/ec1.png" class="center-img" width="50%" />

                        <p class="font-content-body">Donde y=f(x) y x esta en el dominio de f.</p>

                        <h1 class="header-principal-title"><a name="exercices">Ejercicios</a></h1><hr />
                        <p class="font-content-body">Recuerda que la forma más sencilla de entender y comprender un concepto es practicándolo.
                        <br />
                        Identifica cuales de los siguientes diagramas representan una función y cuales una relación.
                        </p>

                        <div id="img-map">
                            <img src="../images/temaFuncion/ejer1.png" width="50%" />
                            <img src="../images/temaFuncion/ejer2.png" width="50%" />
                            <br /> <br />
                            <img src="../images/temaFuncion/ejer3.png" width="50%" />
                            <img src="../images/temaFuncion/ejer4.png" width="50%" />
                        </div>

                        <p class="font-content-body">Ahora vamos hacer lo mismo, pero con pares ordenados para familiarizarnos con los términos que vamos a utilizar.</p>

                        <img src="../images/temaFuncion/ec2.png" class="center-img" width="50%" />

                        <p class="font-content-body">Ahora identifica que grafica representa una función y cual una relación.</p>

                        <div id="img-map">
                            <img src="../images/temaFuncion/ejer5.png" width="50%" />
                            <img src="../images/temaFuncion/ejer6.png" width="50%" />
                        </div>

                        <p class="font-content-body"><mark>Una forma sencilla para identificar en una gráfica si es una función o una relación es trazando una línea recta en la gráfica y ver cuántos puntos toca en el eje y.</mark></p>
                    </div>

            <!-- ************* End of Principal Content ************* -->
        </section>

        <footer>
            <a href="#">Asignaturas</a>
            <a href="#">Foro</a>
            <a href="#">Acerca De</a>
            <a href="#">Inicia Sesión</a>
            <a href="#">Registrate</a>
        </footer>
    </body>
</html>
