<!DOCTYPE hmtl>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="Stylesheet" href="../css/template.css" type="text/css">
        <title>FixMaths</title>
    </head>
    <body>

        <!--****** Logo and Principal Bar ******-->
        <header>

            <!--****** Logo ******-->
            <div id="logo">
                <a href="#PaginaPrincipal" title="FixMaths">
                    <center>
                    <img class="logo-wrap" src="../images/logo.png">
                    </center>
                </a>
            </div>

            <!--******* End of Logo ******-->

            <!--****** Principal Bar ******-->

            <nav id="principal-nav">
                <a href="asignaturas.html">Ramas</a>
                <a href="#">Foro</a>
                <a href="#">Acerca De</a>
                <a class="right-float" href="#">Iniciar Sesión</a>
                <a class="right-float" href="#">Registrate</a>
            </nav>

            <!--****** End of Principal Bar ******-->
        </header>

        <!--****** Principal Content ******-->

        <section id="content-principal-wrap">

            <div id="content-left-wrap">
                <h1 class="header-text-index">Indice de Contenidos</h1>
                <ul class="font-content-body">
                    <li><a href="#definicion">Definición</a></li>
                    <li><a href="#example">Ejemplo</a></li>
                    <li><a href="#exercices">Ejercicios</a></li>
                </ul>

                <h1 class="header-text-index">Conocimientos Previos Necesarios:</h1>
                <ul class="font-content-body">
                    <li><a href="#"></a></li>
                </ul>
            </div>

            <div id="content-center-wrap">

                <h1 class="header-principal-title"><a name="definicion">RELACIÓN</a></h1>
                <p class="font-content-body">Primero vamos a definir que es una relación, tenemos que: Una relación es la correspondencia entre los elementos de dos o más conjuntos, es decir, que a cada elemento de un conjunto le corresponde al menos un elemento de otro conjunto.
                </p>

                    <a name="example"><img src="../images/temaRelacion/imgrelacion.png" class="center-img"  style="width:75%;" /></a>

                <p class="font-content-body">En el ejemplo previo los elementos del conjunto A tienen una relación con los elementos del conjunto B y vemos que el elemento x1 tiene una relación con los elementos a y b eso está permitido en las relaciones, pero no en las funciones.</p>
            </div>


        </section>

        <footer>
            <a href="#">Asignaturas</a>
            <a href="#">Foro</a>
            <a href="#">Acerca De</a>
            <a href="#">Inicia Sesión</a>
            <a href="#">Registrate</a>
        </footer>
    </body>
</html>